#tasks-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 500px) {
    #tasks-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 800px) {
    #tasks-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}